
body {
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
.card {
    width: 800px;
    margin: 30px auto;
    padding: 20px;
    
    background-color: white;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
   
    }


.link:hover {
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
    transition: box-shadow 0.5s;
}



.links-title {
    font-family: "Calibri", sans-serif;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.button {
    text-decoration: none;
}

.photo {
    text-align: center;
}

li {
    list-style-type: none;
    line-height: 2.5;
}

